*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}


body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:  url(images/bg-intro-desktop.png);
    background-color: rgb(192, 96, 93);
}

.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%; 
    background-position: center;
    background-size: cover;
   

}


.container-wrapper{
    width: 1110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post{
    border: 1px solid red;
}

.pip{
    color: #fff;
    font-size: 40px;
   max-width: 400px;
    line-height: 1em;
    margin-bottom: 30px;
}

.pips{
    color: #fff;
    line-height: 1.2em;
}

.text{
    padding-right: 30px;
}



.pun{
    width: 440px;
    text-align: center;
    color: #fff;
    background-color: rgb(8, 59, 170);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 29px;
    border: none;
}

.form{ 
  
    padding-left: 30px;
   
}

.form input{
    width: 100%;
    height: 40px;
    margin-top: 7px;
    border-radius: 10px;
    
    
    
}

.dad p{
    color: #fff;
}


input [type=submit]{
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: rgb(9, 204, 107);
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
}


.btn{
    background-color: rgb(9, 204, 107);
}


/* input [type=submit] ~ .it:invalid p{
 display: block;
} */

.pup{
    padding-left: 30px;
    font-size: 11px;
    
}

.wat{
    width: 400px;
    background-color: #fff;
    padding: 30px;
   
    border-radius: 10px;
   
}
.new{
    color: red;
    font-size: 11px;
}


.pops{
    color: #fff;
}

.it{
    position: relative;
    

}

.it input ~ *{
    display: none;
}

.it input:focus:invalid ~ *{
    display: block;
}

.it img{
    position: absolute;
    top: 18px;
    right: 10px;

}

.it p{
    color: red;
    text-align: right;
    font-size: 11px;
}

@media (max-width: 980px) {
    .container-wrapper{
        flex-direction: column;
        width: 100%;
        
    }
    
    body{
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .container{
        width: 100%;
        padding: 0px 20px 0px 20px;
    }

    .form{
        width: 100%;
        padding: 0px 0px 0px 0px;
        

    }

    .text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        margin-bottom: 40px;
    }

   .text h2{
        width:100% ;
        text-align: center;
    }


    .text p{
        text-align: center;
        max-width: 300px;
    }


     p.pun{
        width: 100%;
        padding: 10px 0px 10px 0px;
    }


    .wat{
        width: auto;
    }

    small.pup{
        display: block;
        width: 100%;
        text-align: center;
        padding: 0px 0px 0px 0px;
        margin: 5px auto;
        max-width: 200px;
    }

}